<%= form_with model: @race, local: true do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :event %><br>
    <%= form.collection_select(:event, Event.all, :event, :event) %>
  </p>

  <p>
    <%= form.label :race_date %><small><i> (yyyy-mm-dd hh:mm:ss)</i></small><br>
    <%= form.text_field :race_date, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :website %><br>
    <%= form.text_field :website, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment, class: 'form-control' %>
  </p>

  <p>
    <%= form.submit 'Submit', :class => 'btn btn-primary' %>
  </p>

<% end %>

<br>

<%= form_with scope: :event, url: event_path, local: true do |form| %>
  <%= form.text_field(:event) %>
  <%= form.submit("Add Event") %>
<% end %>
