<!-- Running Homepage -->
<br>
<% if logged_in? %>
  <br>
  <div class="row">
    <div class="col-8 offset-2">
      <%= link_to 'New Race', new_race_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<div class="row">
    <div class="col-10 offset-1">
        <h1 class="centered">Personal Records</h1>
        <hr>
    </div>
</div>
<div class="row">
  <div class="col-10 offset-1">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title centered">5k</h3>
          <hr>
          <h5 class="card-text centered orange">22:36</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Hearts and Soles 5k - 2/1/20</small>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title centered">10k</h3>
          <hr>
          <h5 class="card-text centered orange">52:07</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Beltline Eastside 10k - 12/7/19</small>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title centered">Half Marathon</h3>
          <hr>
          <h5 class="card-text centered orange">--</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Publix Half Marathon - 3/1/20</small>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title centered">Marathon</h3>
          <hr>
          <h5 class="card-text centered orange">--</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">TBD</small>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        <h3 class="centered">Upcoming Races</h3>
      </div>
      <div class="card-body">
        <% if !@upcoming_races.present? %>
          <h4 class="centered">No races currently scheduled :)</h4>
        <% end %>
        <ul class="list-group list-group-flush">
            <% @upcoming_races.each do |race| %>
              <li class="list-group-item">
                <%= race.name %>
                <% if race.race_date.present? %> - <%= race.race_date.strftime("%b %e, %Y") %><% end %>
                <span class="badge badge-secondary"><%= race.event %></span>
                <% if logged_in? %>
                  <%= link_to 'Edit', edit_race_path(race) %>
                  <%= link_to 'Delete', race_path(race),
                      data: { confirm: 'Delete this race?' },
                      method: :delete %>
                <% end %>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        <h3 class="centered">Past Races</h3>
      </div>
      <div class="card-body">
        <% if !@past_races.present? %>
          <h4 class="centered">No races have been entered...yet :)</h4>
        <% end %>
        <ul class="list-group list-group-flush">
            <% @past_races.each do |race| %>
              <li class="list-group-item">
                <%= race.name %>
                <% if race.race_date.present? %> - <%= race.race_date.strftime("%b %e, %Y") %><% end %>
                <span class="badge badge-secondary"><%= race.event %></span>
                <% if logged_in? %>
                  <%= link_to 'Edit', edit_race_path(race) %>
                  <%= link_to 'Delete', race_path(race),
                      data: { confirm: 'Delete this race?' },
                      method: :delete %>
                <% end %>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
