<%= form_with model: @post, local: true do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.rich_text_area :text %>
  </p>

  <p>
    <%= form.label :label %><br>
    <%= form.select(:label) do %>
      <%= options_from_collection_for_select(Label.all, :label, :label) %>
    <% end %>
  </p>

  <p>
    <%= form.submit 'Submit', :class => 'btn btn-primary' %>
  </p>

<% end %>

<br>

<%= form_with scope: :label, url: label_path, local: true do |form| %>
  <%= form.text_field(:label) %>
  <%= form.submit("Add Label") %>
<% end %>
