<!-- Blog Homepage -->
<% if logged_in? %>
  <br>
  <div class="row">
    <div class="col-8 offset-2">
      <%= link_to 'New post', new_post_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<br>
<% if !@posts.present? %>
 <h2 class="centered">No posts...yet :)</h2>
<% end %>
<% @posts.each do |post| %>
<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h3><%= post.title %></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><%= post.text %></p>
      </div>
      <div class="card-footer text-right">
        <h5><span class="badge badge-secondary"><%= post.label %></span></h5>
        <% if logged_in? %>
          <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-success' %>
          <%= link_to 'Delete', post_path(post),
              data: { confirm: 'Delete this post?' },
              method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<% end %>
