<!DOCTYPE html>
<html>
  <head>
    <title>alexcobb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      a {
        color: #e58a24
      }
    </style>

  </head>

  <body style="background-color: #F5F5F5;">
    <div class="row" style="background-color: #DCDCDC; line-height: 55px;">

      <div class="col">
        <p style="text-align:right; line-height: 55px;"><strong><a href="/posts"><i class="material-icons" style="vertical-align: middle; color: black;">post_add</i>thoughts</a></strong></p>
      </div>

      <div class="col" style="text-align:center;">
        <a href="/" style="line-height: 55px"><%= image_tag("alexcobb_logo.png", size: "188x50") %></a>
      </div>

      <div class="col">
        <p style="text-align:left; line-height: 55px"><strong><a href="/running"><i class="material-icons" style="vertical-align: middle; color: black;">directions_run</i>running</a></strong></p>
      </div>

    </div>
    <div class="container">

      <%= yield %>

    </div>

    <div class="row" style="background-color: #DCDCDC">
      <div class="col-4 offset-4" style="text-align:center; line-height:50px"><a href="/login"><%= image_tag("alexcobb_logo_end.png", size: "94x25") %></a></div>
      <div class="col-3" style="text-align:right; font-size:12px;">
        <p>
        <% if logged_in? %><%= link_to 'Logout', logout_path(session),
              method: :delete %>
        <%end%>
        </p>
      </div>
    </div>

  </body>
</html>
