<!DOCTYPE html>
<html>
  <head>
    <title>alexcobb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="row nav_height header_footer">

      <div class="col">
        <p class="nav_height text_right"><strong><a href="/posts"><i class="material-icons black vertical_mid">post_add</i>thoughts</a></strong></p>
      </div>

      <div class="col centered">
        <a href="/" class="nav_height"><%= image_tag("alexcobb_logo.png", size: "188x50") %></a>
      </div>

      <div class="col">
        <p class="nav_height text_left"><strong><a href="/running"><i class="material-icons black vertical_mid">directions_run</i>running</a></strong></p>
      </div>

    </div>
    <div class="container">

      <%= yield %>

    </div>

    <div class="row header_footer">
      <div class="col-4 offset-4 centered" id="footer_bar"><a href="/login"><%= image_tag("alexcobb_logo_end.png", size: "94x25") %></a></div>
      <div class="col-3 text_right">
        <p>
        <% if logged_in? %><%= link_to 'Logout', logout_path(session),
              method: :delete %>
        <%end%>
        </p>
      </div>
    </div>

  </body>
</html>
